
.contain{
    margin: auto;
    width:70%;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(19, 20, 20, 0.852);
}
h1{
    color: white  ;
    background-color: rgba(44, 40, 46, 0.8);


}
.Playlist{
    width: 100%;
    padding: none;
    background-color: rgba(19, 20, 20, 0.726);
    color: whitesmoke ;
    border-color:gray ;
    cursor: pointer;
}

button{

    font-size: xx-large;
    display: inline-flex;
    position: sticky;
    bottom: 0;
    padding: 5px;
    margin: 5px;

  
  }
  
  .controls{

    text-align: center;
    position: sticky;
    bottom: 0;
    background: rgba(44, 40, 46, 0.8) ;
    padding: 20px;
  }